*
{
    font-family: cursive;
}
.column0
{
    background-color: gray;
    display: flex;
    align-items: center;
    width: 100%;
}
.column1
{
    background-color: lightgray;
}
.column2
{
    margin-left: calc(50% - 133px);
}
ul
{
    display:flex;
    list-style-type: none;
}
li
{
    padding: 12px;
}
article
{
    display:flex;
    padding: 75px 250px;
}
.column3
{
    display: flex;
    justify-content: flex-start;
}
.column4
{
    justify-content:flex-end;
}