*
{
    font-family: cursive;
}
.column0
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.column1
{
    background-color: lightgray;
}
.column2
{
    background-color: gray;
}
article
{
    display:flex;
    padding: 150px;
}
.column3
{
    display: flex;
    justify-content: flex-start;
}
.column4
{
    display:flex;
    justify-content:flex-end;
}